body {
    background-color: #fff;
}
.page {
    width: 940px ;
    margin: auto;
    background-color: #fff;
}
.browsers-icons img {
    float: left;
    margin-right: 20px;
}
article {
    margin-bottom: 20px;
    padding: 0 20px 0 0;
}

#brand-name {
    line-height: 24px;
    margin-top: 2px;
}


.modern-ui-logo,
.metro-ui-logo {
  height: 28px;
  width: 44px;
  margin-top: 3px;
  display: block;
  background-image: url(../img/logo-icon.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
    border: 0;
    border-bottom: 1px #ddd dotted;
    color: #ddd;
    background-color: #ddd;
}

.tertiary-pad {padding: 10px; color: #fff;}

.homeImg {
    border: 5px solid #2D89EF;
}
.restoreImg {
    border: 5px solid #2D89EF;
    margin: 10px 5px 5px 0;
}
a img.restoreImg { 
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    box-shadow: 3px 5px 7px #063567;
}
a img.restoreImg:hover {
    outline: 2px solid #2D89EF;
    opacity: 0.5;
}
a {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
p a {
    margin: -.5em;
    padding: .5em;
    position: relative;
}
.icon-phone {
    font-size: 25px;
    color: #fff;
    margin: 5px 15px;
}

#tile-home {width: 300px;}
.tile:hover {outline: none; cursor:default;}

.tertiary-info-secondary-text:hover, .tertiary-secondary-text:hover {
    color: #fff;
}

footer {
    background: #464646;
    padding: 20px 10px 15px;
}
footer p, footer p a {
    font-size: 12px;
}

@media (min-width: 980px){
    article {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap:70px;
        -moz-column-gap:70px;
        column-gap:70px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .page {
        width: 724px;
    }
    .hero-unit > img {
        zoom: .6;
    }
    .browsers-icons img {
        zoom: .8;
    }
    .slide h1 {
        font-size: 38px;
    }
    .slide h2 {
        font-size: 20px;
    }
    article {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap:70px;
        -moz-column-gap:70px;
        column-gap:70px;
    }
}

@media (max-width: 767px) {
    .page {
        width: 100%;
    }

    .hero-unit > img {
        zoom: .6;
    }

    .modern-ui-logo {
        width: 24px;
        height: 24px;
    }
    .hidden {
    display: none !important;
    visibility: hidden;
    }

}

@media (max-width: 480px) {
    .hero-unit img {
        display: none;
    }
    #brand-name {
        display: none;
    }
    .slide h1, .slide h2 {
        line-height: 36px;
    }
    footer {
        padding: 10px 10px 5px;
    }
    footer p, footer p a {
    line-height: 16px;
    }
    .hidden {
    display: none !important;
    visibility: hidden;
}
}

@media (max-width: 320px) {
    .slide h1 {
        font-size: 30px;
    }
    .slide h2 {
        line-height: 24px;
    }
    .navigation-bar .navigation-bar-inner > .brand .name {
    font-size: 20px;
    }
    sup {
          font-size: 75%;
          line-height: 2.0;
          margin-left: 55px;
          float: left;
          vertical-align: baseline;
        }
}